button {
    color: purple;

}
.navbar {
    border: 10px solid pink;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    width: 35%;
    left: 31%;
}

.contentContainer {
    /*height: calc(100vh - 113px);*/
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
