button {
    color: purple;

}
.navbar {
    border: 10px solid pink;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    width: 60%;
    left: 19%;
}

.contentContainer {
    border: 10px solid pink;
    border-radius: 20px;
    height: calc(100vh - 113px);
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
